:root{
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
nav{
  padding: 60px 30px 10px 30px;
  flex: var(--sidebar-flex);
  background: #333;
}
nav ul{
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}
nav ul li{
  margin: 50px ;
  
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
}
nav ul li:hover{
  color: #fff;
  background: rgb(63, 62, 61);
  box-shadow: 5px 3px 10px rgba(0,0,0,5);
}

.condiv{
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}   

.profilepic{
  border-radius: 50%;
  width: 400px;
  margin: 30px;
}

.social{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
  
}
.social i{
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c ;
}
.social i:hover{
  color: rgb(82, 80, 80);
}

.typingeffect{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

.about{
  text-align: center;
}

.topic{
  margin: 10px 10px 30px 10px !important;
}
h1,h2,h3,h4{
  margin: 10px;
}

p{
  font-size: var(--fontsize-p);
}

.widecard{
  display: flex;
  margin: 30px 0px 30px 0px;
  transition: .3s;
  border-radius: 10px;
  padding: .5rem;
}

.widecard:hover{
  color: #fff;
  background: rgb(88, 88, 88);
  box-shadow: 3px 3px 10px rgba(0,0,0,3);
}

.active{
  font-weight: bolder;
  font-style: italic;
}